@media screen and (min-width: 1395px) {
}

@media screen and (max-width: 1250px) {
  header nav {
    width: 90%;
  }
}

@media screen and (max-width: 1150px) {
  header nav {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .navRight .mianSearch {
    display: none;
  }
}
@media screen and (max-width: 850px) {
}

@media screen and (max-width: 750px) {
  .popap{
    width: 60%;
  }
}
@media screen and (max-width: 570px) {
  .d-none {
    display: none;
  }
  .center img {
    width: 100px;
  }
  header nav .navLift ul {
    justify-content: flex-start;
    font-size: 13px !important;
  }
}
@media screen and (max-width: 425px) {
  header nav .navRight ul li {
    padding: 10px 5px;
    font-size: 13px !important;

  }
  .popap{
    width: 90%;
  }
}

@media screen and (max-width: 350px) {
  header nav .navRight ul li {
    padding: 10px 3px;
  }
}
